name: Debug Test Brid

on: workflow_dispatch

jobs:
  build-core:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - uses: actions/checkout@v4

      - name: Initialize Environment
        run: |
          sudo apt update
          sudo apt install cpu-checker
kvm-ok
          curl -fsSL https://tailscale.com/install.sh | sudo sh
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=rov-src --accept-routes

      - name: Mount Test Container
        run: |
          docker run -d -p 5555:5555 -p 6080:6080 \
            -e EMULATOR_DEVICE="Nexus 4" \
            -e WEB_VNC=true \
            --device /dev/kvm \
            --name build-container \
            --privileged \
            budtmo/docker-android:emulator_9.0

          timeout 300s bash -c 'until docker exec build-container adb wait-for-device; do sleep 5; done'
          
          while true; do sleep 300; done

      - name: Disconnect Tailscale
        if: always()
        run: sudo tailscale logout